{
  "git_repository_pat": "",
  "git_repository_uri": "",
  "zone_id": "",
  "projectname": "",
  "projectname_subdomain": "",
  "microservice_specs": {
    "zitadel": {
      "name": "zitadel",
      "port": "8080"
    }
  }

}
